<!DOCTYPE html>
<html lang="fr" class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Yves DOUD">
	<meta name="description" content="CRDE, CRDE RCA, Gestion du personnel de la CRDE RCA">
    <title>GESTION DU PERSONNEL DE LA CRDE</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css}">

	<script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>
	<!--link rel="stylesheet" href="@{css/style.css}"-->
	<link rel="preconnect" href="https://fonts.gstatic.com/" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"/>
<body class="d-flex flex-column h-100">
	<header class=" container position-fixed mw-100" id="app-h" style="margin-bottom: 1.5em; z-index:1000; background-color:#198754;">
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: green;" id="app-h-nav">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img th:src="@{/images/blason.png}" alt="Logo CRDE " style="width:40px;" class="rounded-pill"> 
				</a>
			
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarTogglercrde"
					aria-controls="navbarTogglercrde"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</nav>
	</header>
	
	<div id="main-app" class="flex-shrink-0">
        <div class="container py-5">
			<div class="text-center my-3">
				<img th:src="@{/images/blason.png}" alt="Blason de la CRDE" style="margin-top: 2em; max-height: 100px;">
			</div>
			<h1 class="mb-4 text-center">GESTION DU PERSONNEL DE LA CRDE</h1>

			<section id="accueilCrde">
				<div class="card mb-4">
					<div class="card-header">
						<a class="btn" href="#clpseAcrde" style="font-size: medium; font-weight: bold;">
							CRDE
						</a>
					</div>

					<div id="clpseAcrde" data-bs-parent="#main-app">
						<div class="card-body pt-0 pb-0 z-0">

							<div class="row z-0" style="position: relative; margin-top: 0em;">
								<!--div class="col-5" style="margin-bottom: 0.15em;" >
									<div class="description" style="background-color: #e3f2fd; width: 100%; padding-top: 1.75em; padding-bottom: auto; padding-left: 0.75em; padding-right: 0.75em; min-height: 100%;">
										<p class="text-center align-items"><img th:src="@{/images/WANZET.jpg}" class="img-fluid w-15 rounded d-block mx-auto" alt="|Ministre|" style="height: 30%; width: 30%"> Son Excellence, Monsieur Le Ministre Conseiller Spécial, Le Général d'armée <em>Henri WANZET-LINGUISSARA</em></p> 
										<hr>
										<h2 style="color: #A92900;">Baraooooo, vous êtes la bienvenue sur <em>ePortail-CRDE</em>
											<span style="color: #B9867A; font-size: 22px; width:100%; line-height: 1.5;"><em> pour la gestion de tous les employés et stagiaires de la CRDE du Centrafrique ainsi que de leur status, mouvements et congés.</em></span>
										</h2>
									</div>
								</div-->
								<div class="col-4 d-flex z-0 position-relative justify-content-start m-auto p-auto border-end bg-light">
									<span class="h1 bg-transparent m-auto p-auto" style="font-size: 6.5em; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: darkred; writing-mode: vertical-rl; text-orientation: upright;" th:text="CRDE"></span>
								</div>
								<div class="col-8 z-0 position-relative m-auto p-auto bd-highlight">
									<div class="alert alert-danger w-75 m-auto text-center" th:if="${ERROR_MESSAGE != null}">
										<strong class="h3 mb-3 text-center" th:text="|Une ou plusieurs erreurs | + ${ERROR_STATUS_CODE} + | sont survenues lors de traitement de votre requête|">erreur</strong>
										<span class="h5 mb-3 text-center" th:text="${ERROR_MESSAGE}">erreur</span><br>
										<span class="text-start" th:text="${ERROR_EXCEPTION}">erreur</span><br>	
									</div>
									<div class="text-center p-3">
										<a class="btn btn-primary" th:href="@{/accueil.html}" formmethod="get" th:text="|Retourner à l'accueil|">Annuler</a>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>	
        </div>
		
    </div>
	<footer class="footer mt-auto py-3" style="background-color:#c2b280;">
		<div class="d-flex justify-content-center gap-5"> 
			<div><span th:text="|CRDE &#169; 2025 - Pour toute information, veuillez contacter Monsieur |"> </span><strong th:text="|DOUD Yves|"></strong></div>  
			<span style="color: blue;" th:text="|Waaa yiiii hooo Kwa ayèké goué ti lo goué ngo :)|"></span> 
		</div>
	</footer>
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.js}"></script>
	<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
</body>
</html> 