<!DOCTYPE html>
<html lang="fr" class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Yves DOUD">
	<meta name="description" content="CRDE, CRDE RCA, Gestion du personnel de la CRDE RCA">
    <title>GESTION DU PERSONNEL DE LA CRDE</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css}">
	
	<script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>
	<!--link rel="stylesheet" href="@{/css/style.css}"-->
	<link rel="preconnect" href="https://fonts.gstatic.com/" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"/>
<body class="d-flex flex-column h-100">
	<!--div class="container position-fixed mw-100"-->
	<header class=" container position-fixed mw-100" id="app-h" style="margin-bottom: 1.5em; z-index:1000; background-color:#198754;">
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: green;" id="app-h-nav">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/accueil.html}">
					<img th:src="@{/images/blason.png}" alt="Logo CRDE " style="width:40px;" class="rounded-pill"> 
				</a>
			
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarTogglercrde"
					aria-controls="navbarTogglercrde"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarTogglercrde">
					<ul class="navbar-nav m-auto">

						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/accueil.html}" th:text="|CRDE|" style="color:#e3f2fd; font-weight: bold;">CRDE</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" th:href="@{/employes-crde.html}" style="color:#e3f2fd;" title="Employés et Stagiaires" th:text="|Employés|">Gérer le personnel</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" th:href="@{/affectations-emp-crde.html}" style="color:#e3f2fd;" th:text="|Affectations|">Affectations</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" th:href="@{/conges-emp-crde.html}" style="color:#e3f2fd;" title="Congés et absences" th:text="|Congés|">Congés</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" th:href="@{/missions-emp-crde.html}" style="color:#e3f2fd;" th:text="|Missions|">missions</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" th:href="@{/planif-visites-crde.html}" style="color:#e3f2fd;" title="Planifier une visite" th:text="|Visites|">Visites </a>
						</li>
						
						<li class="nav-item dropdown ml-5">
							<a class="nav-link dropdown-toggle ml-5" href="#gadmin" id="navbarDropdownMenuLink5" style="color:#e3f2fd;" role="button" data-bs-toggle="dropdown">Administration</a>
							<ul class="dropdown-menu dropdown-menu-light ml-5">
								<li><a class="dropdown-item" href="#gadminUser">Utilisateurs</a></li>
								<li><a class="dropdown-item" href="#gadminChangePwd">Changer votre mot de passe</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="#gadminStatus">Status employés</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="#gadminLaffectation">Lieux Affectation</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="#gadminFonctions">Fonctions</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="#gadminTconges">Types de congés</a></li>
							</ul>
						</li>
					</ul>

					<!--div class="btn-group">
						<button type="button" class="btn btn-danger">Action</button>
						<button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="visually-hidden">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Separated link</a></li>
						</ul>
					</div-->

					<ul class="nav navbar-nav m-auto pull-right" sec:authorize="isAuthenticated()">
						<li>
							&nbsp; | &nbsp; 
						</li>

						<li>
							<p class="navbar-text">
								Bonjour <span class="navbar-text" th:text="${#authentication.name}">utilisateur</span>
							</p> 
						</li>
						<li >
							&nbsp; | &nbsp; 
						</li>

						<li>
							<a id="navItemLogout" class="btn btn-info" role="button" style="color: orangered;" th:href="@{/logout}" th:text="|Déconnexion|">Quitter</a>
						</li>
						<li>
							&nbsp; | &nbsp; 
						</li>
					</ul>

					<ul class="nav navbar-nav m-auto pull-right" sec:authorize="!isAuthenticated()">
						<li>
							<a id="navItemLogin" class="btn btn-default" role="button" style="color: orangered;" th:href="@{/login.html}" th:text="|Se connecter|">connex</a>
						</li>
						<li>
							&nbsp; | &nbsp; 
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	
	<div id="main-app" class="w-100 z-0">
        <div class="container py-5 z-0">
			<div class="text-center my-3">
				<img th:src="@{/images/blason.png}" alt="Blason de la CRDE" style="margin-top: 2em; max-height: 100px;">
			</div>
			<h1 class="mb-4 text-center">GESTION DU PERSONNEL DE LA CRDE</h1>

			<section id="accueilCrde">
				<div class="card mb-4">
					<div class="card-header">
						<a class="btn" data-bs-toggle="collapse" href="#collapseAcrde" style="font-size: medium; font-weight: bold;">
							CRDE
						</a>
					</div>

					<div id="collapseAcrde" class="collapse show" data-bs-parent="#main-app">
						<div class="card-body p-2">

							<div class="row p-1" style="position: relative; margin-top: 0em;">
								<div class="col-lg-5 col-md-5 col-sm-5 desc" style="margin-bottom: 0.25em;" >
									<div class="description  rounded-2 p-1" style="background-color: #cef0e4; width: 100%; padding-top: 1.75em; padding-bottom: auto; padding-left: 0.75em; padding-right: 0.75em; min-height: 100%;">
										<div class="text-center align-items p-1 m-2">
											<img th:src="@{/images/WANZET.jpg}" class="img-fluid rounded float-start d-block mx-auto" alt="|Ministre|" style="height: 30%; width: 30%"> 
											<p class="p-1 mt-5 mb-0" style="font-size: 0.925rem; text-align: center;">
												Son Excellence, Monsieur Le Ministre Conseiller Spécial, Le Général de l'armée
											</p>
											<span class="ms-auto mt-0" style="font-size: 0.925rem; text-align: center; font-weight: bold;">Henri WANZET-LINGUISSARA</span>
										</div> 
										<hr class="m-0">
										<h2 class="p-1" style="color: #A92900; text-align: justify;">Baraooooo, vous êtes la bienvenue sur <em>ePortail-CRDE</em>
											<span style="color: #B9867A; text-align: justify; font-size: 1.4rem; width:100%; line-height: 1.5;"><em> pour la gestion de tous les employés et stagiaires de la CRDE ainsi que leurs status, missions, congés et affectations tant à l'intérieur du pays qu'à l'étranger.</em></span>
										</h2>
									</div>
								</div>
								
								<div class="col-lg-7 col-md-7 col-sm-7" style="margin: auto; padding: auto;">
									<div id="carouselIndicatorscrde" class="carousel slide" data-bs-ride="carousel">

										<div class="carousel-indicators">
											<button type="button" data-bs-target="#carouselIndicatorscrde" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
											<button type="button" data-bs-target="#carouselIndicatorscrde" data-bs-slide-to="1" aria-label="Slide 1"></button>
											<button type="button" data-bs-target="#carouselIndicatorscrde" data-bs-slide-to="2" aria-label="Slide 2"></button>
											<button type="button" data-bs-target="#carouselIndicatorscrde" data-bs-slide-to="3" aria-label="Slide 3"></button>
										</div>
										
										<div class="carousel-inner" style="align-items: center; text-align: justify;">
											<div class="carousel-item active" style="align-items: center;">
												<img th:src="@{/images/caroussel-image1.jpg}" class="d-block w-100" alt="Actu1" style="margin: auto;">
												<div class="carousel-caption d-none d-md-block">
													<h5 style="color: #fbfcfb;">Actualité 1</h5>
													<p style="color: #fbfcfb;">Cérémonie de fin de stage à Naïrobie (Kenya)</p>
												</div>
											</div>
											<div class="carousel-item" style="align-items: center;">
												<img th:src="@{/images/caroussel-image2.jpg}" class="d-block w-100" alt="Actu2" style="margin: auto;">
												<div class="carousel-caption d-none d-md-block">
													<h5 style="color: yellow;">Actualité 2</h5>
													<p style="color: yellow;">Visite de travail du SR égyptien à la Direction de la Sécurité Extérieure</p>
												</div>
											</div>
											<div class="carousel-item" style="align-items: center;">
												<img th:src="@{/images/caroussel-image3.jpg}" class="d-block w-100" alt="Actu3" style="margin: auto;">
												<div class="carousel-caption d-none d-md-block">
													<h5 style="color: orangered;">Actualité 3</h5>
													<p style="color: orangered;">Conférence des exprts à Doubaï (Émirats Arrabes Unis)</p>
												</div>
											</div>
											<div class="carousel-item" style="align-items: center;">
												<img th:src="@{/images/caroussel-image4.jpg}" class="d-block w-100" alt="Actu4" style="margin: auto;">
												<div class="carousel-caption d-none d-md-block">
													<h5 style="color: yellow;">Actualité 4</h5>
													<p style="color: yellow;">... en Europe</p>
												</div>
											</div>
										</div>
										
										<button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicatorscrde" data-bs-slide="prev">
											<span class="carousel-control-prev-icon btn-warning" aria-hidden="true"></span>
											<span class="visually-hidden">Précédent</span>
										</button>
										<button class="carousel-control-next" type="button" data-bs-target="#carouselIndicatorscrde" data-bs-slide="next">
											<span class="carousel-control-next-icon btn-warning" aria-hidden="true"></span>
											<span class="visually-hidden">Suivant</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<hr>
			
			<!--div class="row" style="position: relative;">
				
				<section id="gvisites">
					<div class="card">
						<div class="card-header">
							<a class="collapsed btn" href="#clpsegvisites" style="font-size: small; font-weight: bold;">
								PLANIFIER UNE VISITE
							</a>
						</div>
						<div id="clpsegvisites" data-bs-parent="#main-app">
							<div class="card-body z-0 p-auto m-auto">
								<div class="row bg-light">
									<div class="col-3 d-flex justify-content-start z-0 position-relative m-0">
										<span class="h1 bg-transparent m-auto p-auto" style="font-size: 6.5em; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: darkred; margin: auto; writing-mode: vertical-rl; text-orientation: upright;" th:text="CRDE"></span>
									</div>
									<div class="col-9 d-flex justify-content-end bg-light z-0 position-relative">
										<form id="visit-form" class="row m-auto p-auto g-3 border border-secondary z-3 position-relative rounded-3 bg-secondary-subtle text-dark" th:autocomplete="|false|">
											<legende class="h4 mb-3 text-center">Prendre un rendez-vous</legende>
											<hr>
											<div class="col-lg-3 col-md-3 col-sm-6">
												<label class="form-label h6" for="civiliteougradevisit" th:text="|Civilité/Grade visiteur|">num</label>
												<input type="text" id="civiliteougradevisit" name="civiliteougradevisit" class="form-control">
											</div>
											<div class="col-lg-4 col-md-4 col-sm-8">
												<label class="form-label h6" for="nomvisiteur" th:text="|Nom visiteur|">num</label>
												<input type="text" id="nomvisiteur" name="nomvisiteur" class="form-control" required>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-8">
												<label class="form-label h6" for="prenomvisiteur" th:text="|Prénom visiteur|">num</label>
												<input type="text" id="prenomvisiteur" name="prenomvisiteur" class="form-control">
											</div>
											<div class="col-lg-7 col-md-7 col-sm-10">
												<label class="form-label h6" for="fonctvisiteur" th:text="|Fonction visiteur|">num</label>
												<input type="text" id="fonctvisiteur" name="fonctvisiteur" class="form-control" required>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-8">
												<label class="form-label h6" for="paysvisiteur" th:text="|Pays visiteur|">num</label>
												<input type="text" id="paysvisiteur" name="paysvisiteur" class="form-control" required>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6">
												<label class="form-label h6" for="datedebutvisite" th:text="|Date début|">num</label>
												<input type="date" id="datedebutvisite" name="datedebutvisite" class="form-control" required>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6">
												<label class="form-label h6" for="datefinvisite" th:text="|Date fin|">num</label>
												<input type="date" id="datefinvisite" name="datefinvisite" class="form-control" required>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-6">
												<label class="form-label h6" for="dureevisite" th:text="|Durée (heures)|">num</label>
												<input type="number" id="dureevisite" name="dureevisite" class="form-control" min="1" required>
											</div>
											<div class="col-lg-7 col-md-7 col-sm-10">
												<label class="form-label h6" for="butvisite" th:text="|But de la visite|">num</label>
												<input type="text" id="butvisite" name="butvisite" class="form-control" required>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-8">
												<label class="form-label h6" for="matriculeempvisite" th:text="|Employé sollicité|">num</label>
												<select id="matriculeempvisite" name="matriculeempvisite" class="form-select">
													<option value="">Sélectionner un employé</option>
													<option th:each="employe : ${allEmployes}" th:value="${employe.empMatricule}" th:text="${employe.empNom} + | | + ${employe.empPren}"></option>
												</select>
												<select id="fonctioncode" name="fonctioncode" class="form-select" required>
													<option value="">Sélectionner une fonction</option>
													<option th:each="fonction : ${allFonction}" th:value="${fonction.fonctionCode}" th:text="${fonction.fonction}"></option>
												</select>
											</div>
											<hr>

											<div class="col-lg-9 col-md-9 col-sm-12 text-center mb-4">
												<button type="submit" class="btn btn-primary">Ajouter</button>
												<button type="reset" class="btn btn-dark">Annuler</button>
											</div>

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div-->	
			<hr>


			<div class="row" style="position: relative;">
				<div class="col-lg-4 col-md-4 col-sm-12 desc">
					<!-- Nouvelle section pour la gestion des lieux d'affectation -->
					<section id="glaffectationz">
						<div class="card mb-4">
							<div class="card-header">
								<a class="collapsed btn" data-bs-toggle="collapse" href="#collapseLaffectations" style="font-size: small; font-weight: bold;">
									LIEUX D'AFFECTATIONS
								</a>
							</div>
							<div id="collapseLaffectations" class="collapse" data-bs-parent="#main-app">
								<div class="card-body">
									<h2 class="h4 mb-3 text-center">Ajouter ou modifier un lieu d'affectation</h2>
									<form id="laffectation-form" class="row g-3">
										<div class="col-md-3">
											<input type="text" id="codelieu" class="form-control" placeholder="Code" required>
										</div>
										<div class="col-md-6">
											<input type="text" id="lieuaffectation" class="form-control" placeholder="Lieu d'affectation" required>
										</div>
										<div class="col-12 text-center">
											<button type="submit" class="btn btn-success">Ajouter le lieu</button>
											<button type="reset" class="btn btn-dark">Annuler</button>
										</div>
									</form>

									<hr>

									<div class="container">
										<div class="mb-3 d-flex flex-wrap gap-2" style="align-items: flex-end;">
											<button type="button" class="btn btn-info ms-auto" id="print-laffect">Imprimer les lieux</button>
										</div>
										<hr>

										<h2 class="h4 mb-3 text-center">Liste des lieux d'affectation</h2>
										<table class="table table-striped" id="conges-table">
											<thead>
												<tr>
													<th>Code</th>
													<th>Nom du lieu</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
												<!-- Les Lieux d'affectation ici dynamiquement -->
												<tr th:each="lAff: ${allLieuAffect}">
													<td th:text="${lAff.lieuAffectCode}">status code</td>
													<td th:text="${lAff.lieuAffect}">status</td>
													<td><button class="btn btn-secondary btn-warning">Supprimer</button></td>
												</tr>
											</tbody>
										</table>
									</div>

								</div>
							</div>
						</div>
					</section>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 desc">
					<!-- Nouvelle section pour la gestion des fonctions administratives -->
					<section id="gfonctions">
						<div class="card mb-4">
							<div class="card-header">
								<a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFonctions" style="font-size: small; font-weight: bold;">
									FONCTIONS ADMINISTATIVES
								</a>
							</div>
							<div id="collapseFonctions" class="collapse" data-bs-parent="#main-app">
								<div class="card-body">
									<h2 class="h4 mb-3 text-center">Ajouter ou modifier une fonction administrative</h2>
									<form id="laffectation-form" class="row g-3">
										<div class="col-md-3">
											<input type="text" id="codefonction" class="form-control" placeholder="Code de fonction" required>
										</div>
										<div class="col-md-6">
											<input type="text" id="fonction" class="form-control" placeholder="Fonction" required>
										</div>
										<div class="col-12 text-center">
											<button type="submit" class="btn btn-success">Ajouter la fonction</button>
											<button type="reset" class="btn btn-dark">Annuler</button>
										</div>
									</form>

									<hr>

									<div class="container">
										<div class="mb-3 d-flex flex-wrap gap-2" style="align-items: flex-end;">
											<button type="button" class="btn btn-info ms-auto" id="print-fonction">Imprimer les fonctions</button>
										</div>
										<hr>

										<h2 class="h4 mb-3 text-center">Liste des fonctions administratives</h2>
										<table class="table table-striped" id="conges-table">
											<thead>
												<tr>
													<th>Code</th>
													<th>Fonction administrative</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
												<!-- Les fonctions administratives ici dynamiquement -->
												<tr th:each="fonct: ${allFonction}">
													<td th:text="${fonct.fonctionCode}">status code</td>
													<td th:text="${fonct.fonction}">status</td>
													<td><button class="btn btn-secondary btn-warning">Supprimer</button></td>
												</tr>
											</tbody>
										</table>
									</div>

								</div>
							</div>
						</div>
					</section>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 desc">
					<!-- Nouvelle section pour la gestion des status -->
					<section id="gadminStatus">
						<div class="card mb-4">
							<div class="card-header">
								<a class="collapsed btn" data-bs-toggle="collapse" href="#collapseStatus" style="font-size: small; font-weight: bold;">
									STATUS
								</a>
							</div>
							<div id="collapseStatus" class="collapse" data-bs-parent="#main-app">
								<div class="card-body">
									<h2 class="h4 mb-3 text-center">Ajouter ou modifier un status</h2>
									<form id="laffectation-form" class="row g-3">
										<div class="col-md-3">
											<input type="text" id="codestatus" class="form-control" placeholder="Code" required>
										</div>
										<div class="col-md-6">
											<input type="text" id="status" class="form-control" placeholder="Status" required>
										</div>
										<div class="col-12 text-center">
											<button type="submit" class="btn btn-success">Ajouter le status</button>
											<button type="reset" class="btn btn-dark">Annuler</button>
										</div>
									</form>

									<hr>

									<div class="container">
										<div class="mb-3 d-flex flex-wrap gap-2" style="align-items: flex-end;">
											<button type="button" class="btn btn-info ms-auto" id="print-status">Imprimer les status</button>
										</div>
										<hr>

										<h2 class="h4 mb-3 text-center">Liste des status</h2>
										<table class="table table-striped" id="conges-table">
											<thead>
												<tr>
													<th>Code</th>
													<th>Status</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
												<!-- Les status ici dynamiquement -->
												<tr th:each="status: ${allStatus}">
													<td th:text="${status.statusCode}">status code</td>
													<td th:text="${status.status}">status</td>
													<td><button class="btn btn-secondary btn-warning">Supprimer</button></td>
												</tr>
											</tbody>
										</table>
									</div>

								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			
			<div class="row" style="position: relative;">
				<div class="col-lg-4 col-md-4 col-sm-12 desc">
					<!-- Nouvelle section pour la gestion des types d'employés -->
					<section id="gadminTypeEmp">
						<div class="card mb-4">
							<div class="card-header">
								<a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTypeEmp" style="font-size: small; font-weight: bold;">
									TYPES EMPLOYÉS
								</a>
							</div>
							<div id="collapseTypeEmp" class="collapse" data-bs-parent="#main-app">
								<div class="card-body">
									<h2 class="h4 mb-3 text-center">Ajouter ou modifier un status</h2>
									<form id="typeEmp-form" class="row g-3">
										<div class="col-md-3">
											<input type="text" id="codetypeemp" class="form-control" placeholder="Code" required>
										</div>
										<div class="col-md-6">
											<input type="text" id="typeemp" class="form-control" placeholder="type employé" required>
										</div>
										<div class="col-12 text-center">
											<button type="submit" class="btn btn-success">Ajouter le type employé</button>
											<button type="reset" class="btn btn-dark">Annuler</button>
										</div>
									</form>

									<hr>

									<div class="container">
										<div class="mb-3 d-flex flex-wrap gap-2" style="align-items: flex-end;">
											<button type="button" class="btn btn-info ms-auto" id="print-type-emp">Imprimer les types employés</button>
										</div>
										<hr>

										<h2 class="h4 mb-3 text-center">Liste des types employés</h2>
										<table class="table table-striped" id="type-emp-table">
											<thead>
												<tr>
													<th>Code</th>
													<th>Type employé</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
												<!-- Les types employés ici dynamiquement -->
												<tr th:each="typeEmp: ${allTypeEmp}">
													<td th:text="${typeEmp.typeEmpCode}">type employé code</td>
													<td th:text="${typeEmp.typeEmp}">type employé</td>
													<td><button class="btn btn-secondary btn-warning">Supprimer</button></td>
												</tr>
											</tbody>
										</table>
									</div>

								</div>
							</div>
						</div>
					</section>
				</div>

				<div class="col-lg-8 col-md-8 col-sm-12 desc">
					<!-- Nouvelle section pour la gestion des utilisateurs -->
					<section id="gadminUtilisateur">
						<div class="card mb-4">
							<div class="card-header">
								<a class="collapsed btn" data-bs-toggle="collapse" href="#collapseUtilisateur" style="font-size: small; font-weight: bold;">
									UTILISATEURS
								</a>
							</div>
							<div id="collapseUtilisateur" class="collapse" data-bs-parent="#main-app">
								<div class="card-body">
									<h2 class="h4 mb-3 text-center">Ajouter ou modifier un status</h2>
									<form id="utilisateur-form" class="row g-3">
										<div class="col-md-6">
											<input type="text" id="utilisateurFirstname" class="form-control" placeholder="prénom" required>
										</div>
										<div class="col-md-6">
											<input type="text" id="utilisateurLastname" class="form-control" placeholder="nom" required>
										</div>
										<div class="col-md-4">
											<input type="text" id="utilisateurPhoneNumber" class="form-control" placeholder="tél" required>
										</div>
										<div class="col-md-8">
											<input type="text" id="utilisateurEmail" class="form-control" placeholder="email" required>
										</div>
										<div class="col-md-5">
											<input type="text" id="utilisateurNomConnexion" class="form-control" placeholder="nom connexion" required>
										</div>
										<div class="col-md-3">
											<input type="text" id="utilisateurRole" class="form-control" placeholder="role" required>
										</div>
										<div class="col-md-4">
											<input type="text" id="utilisateurStatus" class="form-control" placeholder="status" required>
										</div>
										
										<div class="col-12 text-center">
											<button type="submit" class="btn btn-success">Ajouter l'utilisateur</button>
											<button type="reset" class="btn btn-dark">Annuler</button>
										</div>
									</form>

									<hr>

									<div class="container">
										<div class="mb-3 d-flex flex-wrap gap-2" style="align-items: flex-end;">
											<button type="button" class="btn btn-info ms-auto" id="print-type-emp">Imprimer tous les utilisateurs</button>
											<button type="button" class="btn btn-info ms-auto" id="print-type-emp">Imprimer les utilisateurs actifs</button>
											<button type="button" class="btn btn-info ms-auto" id="print-type-emp">Imprimer les utilisateurs non actifs</button>
										</div>
										<hr>

										<h2 class="h4 mb-3 text-center">Liste des utilisateurs</h2>
										<table class="table table-striped" id="type-emp-table">
											<thead>
												<tr>
													<th>Nom & prénoms</th>
													<th>Téléphone</th>
													<th>Email</th>
													<th>Nom connexion</th>
													<th>Role</th>
													<th>Status</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
												<!-- Les types employés ici dynamiquement -->
												<tr th:each="utilisateur: ${allUtilisateurs}">
													<td th:text="${utilisateur.utilisateurFirstname} + | | + ${utilisateur.utilisateurLastname} ">nom</td>
													<td th:text="${utilisateur.utilisateurPhoneNumber}">tel</td>
													<td th:text="${utilisateur.utilisateurEmail}">email</td>
													<td th:text="${utilisateur.utilisateurNomConnexion}">tel</td>
													<td th:text="${utilisateur.utilisateurRole}">role</td>
													<td th:text="${utilisateur.utilisateurStatus}">status</td>
													<td><button class="btn btn-secondary btn-warning">Supprimer</button></td>
												</tr>
											</tbody>
										</table>
									</div>

								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<hr>
        </div>
		
    </div>
    </div>
    <footer class="footer mt-auto py-3" style="background-color:#c2b280;">
		<div class="d-flex justify-content-center gap-5"> 
			<div><span th:text="|CRDE &#169; 2025 - Pour toute information, veuillez contacter Monsieur |"> </span><strong th:text="|DOUD Yves|"></strong></div>  
			<span style="color: blue;" th:text="|Waaa yiiii hooo Kwa ayèké goué ti lo goué ngo :)|"></span> 
		</div>
	</footer>
	<!--script type="text/javascript" th:src="@{/scripts/app.js}"></script-->
	<!-- Placed at the end of the document so the pages load faster -->
	
	<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.min.js}"></script>
	<!-- IE10script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
	
	< viewport hack for Surface/desktop Windows 8 bug -->
    <script  th:inline="javascript">
    </script>
	
</body>
</html> 